.row{
	width: 100%;
	display: block;
/*	margin-left: -15px;
	margin-right: -15px;*/
}

.row.no-gutters{
	margin-left: 0;
	margin-right: 0;
}

.col{
	float: left;
	display: block;
	padding: 10px 15px;
}
	
.col-border{
	border: 1px solid #ddd;
    padding: 15px 25px !important;
    margin-bottom: -1px;
    margin-right: -1px;
}

.row.no-gutters .col{
	padding: 0;
}

.col.sm-1{ width: 8.33333337%; }
.col.sm-2{ width: 16.66666667%; }
.col.sm-3{ width: 25%; }
.col.sm-4{ width: 33.33333337%; }
.col.sm-5{ width: 41.66666667%; }
.col.sm-6{ width: 50%; }
.col.sm-7{ width: 58.33333337%; }
.col.sm-8{ width: 66.66666667%; }
.col.sm-9{ width: 75%; }
.col.sm-10{ width: 83.33333337%; }
.col.sm-11{ width: 91.66666667%; }
.col.sm-12{ width: 100%; }

@media ( min-width: 768px ){
	.col.md-1{ width: 8.33333337%; }
	.col.md-2{ width: 16.66666667%; }
	.col.md-3{ width: 25%; }
	.col.md-4{ width: 33.33333337%; }
	.col.md-5{ width: 41.66666667%; }
	.col.md-6{ width: 50%; }
	.col.md-7{ width: 58.33333337%; }
	.col.md-8{ width: 66.66666667%; }
	.col.md-9{ width: 75%; }
	.col.md-10{ width: 83.33333337%; }
	.col.md-11{ width: 91.66666667%; }
	.col.md-12{ width: 100%; }
}

@media ( min-width: 992px ){
	.col.lg-1{ width: 8.33333337%; }
	.col.lg-2{ width: 16.66666667%; }
	.col.lg-3{ width: 25%; }
	.col.lg-4{ width: 33.33333337%; }
	.col.lg-5{ width: 41.66666667%; }
	.col.lg-6{ width: 50%; }
	.col.lg-7{ width: 58.33333337%; }
	.col.lg-8{ width: 66.66666667%; }
	.col.lg-9{ width: 75%; }
	.col.lg-10{ width: 83.33333337%; }
	.col.lg-11{ width: 91.66666667%; }
	.col.lg-12{ width: 100%; }
}

@media ( min-width: 1160px ) {
	.col.xl-1{ width: 8.33333337%; }
	.col.xl-2{ width: 16.66666667%; }
	.col.xl-3{ width: 25%; }
	.col.xl-4{ width: 33.33333337%; }
	.col.xl-5{ width: 41.66666667%; }
	.col.xl-6{ width: 50%; }
	.col.xl-7{ width: 58.33333337%; }
	.col.xl-8{ width: 66.66666667%; }
	.col.xl-9{ width: 75%; }
	.col.xl-10{ width: 83.33333337%; }
	.col.xl-11{ width: 91.66666667%; }
	.col.xl-12{ width: 100%; }
}

.col.sm-offset-1{ margin-left: 8.33333337%; }
.col.sm-offset-2{ margin-left: 16.66666667%; }
.col.sm-offset-3{ margin-left: 25%; }
.col.sm-offset-4{ margin-left: 33.33333337%; }
.col.sm-offset-5{ margin-left: 41.66666667%; }
.col.sm-offset-6{ margin-left: 50%; }
.col.sm-offset-7{ margin-left: 58.33333337%; }
.col.sm-offset-8{ margin-left: 66.66666667%; }
.col.sm-offset-9{ margin-left: 75%; }
.col.sm-offset-10{ margin-left: 83.33333337%; }
.col.sm-offset-11{ margin-left: 91.66666667%; }
.col.sm-offset-12{ margin-left: 100%; }

@media ( min-width: 768px ){
	.col.md-offset-1{ margin-left: 8.33333337%; }
	.col.md-offset-2{ margin-left: 16.66666667%; }
	.col.md-offset-3{ margin-left: 25%; }
	.col.md-offset-4{ margin-left: 33.33333337%; }
	.col.md-offset-5{ margin-left: 41.66666667%; }
	.col.md-offset-6{ margin-left: 50%; }
	.col.md-offset-7{ margin-left: 58.33333337%; }
	.col.md-offset-8{ margin-left: 66.66666667%; }
	.col.md-offset-9{ margin-left: 75%; }
	.col.md-offset-10{ margin-left: 83.33333337%; }
	.col.md-offset-11{ margin-left: 91.66666667%; }
	.col.md-offset-12{ margin-left: 100%; }
}

@media ( min-width: 992px ){
	.col.lg-offset-1{ margin-left: 8.33333337%; }
	.col.lg-offset-2{ margin-left: 16.66666667%; }
	.col.lg-offset-3{ margin-left: 25%; }
	.col.lg-offset-4{ margin-left: 33.33333337%; }
	.col.lg-offset-5{ margin-left: 41.66666667%; }
	.col.lg-offset-6{ margin-left: 50%; }
	.col.lg-offset-7{ margin-left: 58.33333337%; }
	.col.lg-offset-8{ margin-left: 66.66666667%; }
	.col.lg-offset-9{ margin-left: 75%; }
	.col.lg-offset-10{ margin-left: 83.33333337%; }
	.col.lg-offset-11{ margin-left: 91.66666667%; }
	.col.lg-offset-12{ margin-left: 100%; }
}

@media ( min-width: 1190px ) {
	.col.xl-offset-1{ margin-left: 8.33333337%; }
	.col.xl-offset-2{ margin-left: 16.66666667%; }
	.col.xl-offset-3{ margin-left: 25%; }
	.col.xl-offset-4{ margin-left: 33.33333337%; }
	.col.xl-offset-5{ margin-left: 41.66666667%; }
	.col.xl-offset-6{ margin-left: 50%; }
	.col.xl-offset-7{ margin-left: 58.33333337%; }
	.col.xl-offset-8{ margin-left: 66.66666667%; }
	.col.xl-offset-9{ margin-left: 75%; }
	.col.xl-offset-10{ margin-left: 83.33333337%; }
	.col.xl-offset-11{ margin-left: 91.66666667%; }
	.col.xl-offset-12{ margin-left: 100%; }
}