h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Muli', 'Montserrat', sans-serif;
	font-weight: bold;
	font-weight: 700;
	margin: 7px 3px;
}

h1 strong, h2 strong, .h1 strong, .h2 strong,
h3 strong, h4 strong, .h3 strong, .h4 strong,
h5 strong, h6 strong, .h5 strong, .h6 strong{
	font-weight: 900;
}

h1{ font-size: 3em; }
	.h1{ font-size: 3em; }
h2{ font-size: 2.2em; }
	.h2{ font-size: 2.2em; }
h3{ font-size: 1.75em; }
	.h3{ font-size: 1.75em; }
h4{ font-size: 1.3em; } 
	.h4{ font-size: 1.3em; } 
h5{ font-size: 1.05em; }
	.h5{ font-size: 1.05em; }
h6{ font-size: 0.85em; }
	.h6{ font-size: 0.85em; }

a,p,span,label{
	font-family: 'Hind', 'Arimo', sans-serif;
	font-weight: normal;
	font-weight: 400;
}

.tx-wl{
	font-weight: lighter;
	font-weight: 300;
}

.tx-wn{
	font-weight: normal;
	font-weight: 400;
}

.tx-wb{
	font-weight: bold;
	font-weight: 700;
}

.tx-wxb{
	font-weight: black;
	font-weight: 900;
}

.f-cw,
.f-cw a{
	color: #23236d !important;
}

p{
	font-family: 'Muli', 'Montserrat', sans-serif;
	line-height: 34px;
	font-size: 22px;
}
	p.sm{
		line-height: 24px;
		font-size: 16px;
	}
	p.lg{
		line-height: 34px;
		font-size: 26px;
	}

a{
	font-family: 'Hind', 'Arimo', sans-serif;
	position: relative;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-weight: 700;
	padding: 8px 0;
	display: block;
}
	a:hover{
		color: #555555;
	}


p a, 
span a{
	color: #555;
	border-bottom: none;
	position: relative;
}
	p a::after, 
	span a::after{
		height: 2px;
		transition: transform .2s ease-in-out;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
		p a:hover::after, 
		span a:hover::after{
			-webkit-transform: scale(1);
			transform: scale(1);
		}

.site-title,
.section-title{
	font-family: 'Muli', 'Montserrat', sans-serif;
	font-weight: 900;
}

.site-title{
	color: #ff0061;
	font-family: 'Muli', 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 11vw;
}
	@media (min-width: 1860px){
		.site-title{
			font-size: 4em;
		}
	}

.section-title{
	font-size: 5vw;
    display: table;
}
	@media (max-width: 992px){
		.section-title{
			font-size: 5.5vw;
		}
	}
	@media (max-width: 768px){
		.section-title{
			font-size: 7vw;
		}
	}
	@media (min-width: 1730px){
		.section-title{
			font-size: 5em;
		}
	}

.tx-l{ text-align: left; }
.tx-c{ text-align: center; }
.tx-r{ text-align: right; }

